@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-page: #1d1c20;
    --color: #c9cfd2;
    --bg-btn: #a2e770;
  }
}

html,
body {
  font-family: "Manrope", sans-serif;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 5rem;
}

@media (min-width: 768px) {
  body {
    overflow: scroll;
    height: 100vh;
    width: auto;
    overflow-x: hidden;
    transition: 1s;
  }
  body::-webkit-scrollbar {
    width: 7px;
    background: rgb(222, 219, 219);
  }
  /* Handle */
  body::-webkit-scrollbar-thumb {
    background: var(--bg-btn);
  }
}

.bg-transparent-effect {
  background: linear-gradient(
    4deg,
    rgba(226, 232, 255, 0) 0%,
    rgba(226, 232, 255, 0.12) 100%
  );
}

.card-services {
  background-color: rgba(186, 207, 247, 0.02);
  box-shadow: inset 0 1px 1px 0 rgba(216, 236, 248, 0.2),
    inset 0 24px 48px 0 rgba(168, 216, 245, 0.06);
  backdrop-filter: blur(4px);
}

.card-services:hover {
  background-color: rgba(186, 207, 247, 0.04);
  box-shadow: inset 0 1px 1px 0 rgba(216, 236, 248, 0.16),
    inset 0 32px 48px 0 rgba(168, 216, 245, 0.16);
}

@keyframes opacityanimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animation-op {
  animation: 1.2s ease-in 0s 1 normal forwards running opacityanimation;
}
